.section-tag {
    display: inline-block;
    color: $secondary-text-color;
    text-transform: lowercase;
    font-size: 12px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.1em;

    @include mq('desktop') {
        font-size: 16px;
    }

}

.section-tag--left {
    position: absolute;
    top: 0;

    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
}

.section-tag--right {
    position: absolute;
    right: 1em;
    top: 0;

    transform-origin: top right;
    transform: rotate(-90deg);
}