@import '~node_modules/modern-normalize/modern-normalize.css';

@import './fonts';
@import './base';

h1 {
    text-decoration: underline;
}

.test {
    width: 700px;
    height: 700px;
    border: 5px solid red;
    padding: 30px;
}