.burger-btn {

    @include mq('laptop') {
        display: none;
    }
}


.burger-btn>.icon {
    stroke: $secondary-text-color;

    @include default-transition(stroke);

    &:hover {
        stroke: $accent-color;
    }
}