.burger-btn {

    @media screen and (min-width: 900px) {
        // display: none;
    }

    @include mq('laptop') {
        display: none;
    }
}


.burger-btn>.icon {
    stroke: $secondary-text-color;

    @include default-transition(stroke);

    &:hover {
        stroke: $accent-color;
    }
}