.section-header {
    padding-top: 30px;
    padding-bottom: 15px;


    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @include mq('laptop') {
        padding-top: 40px;
        padding-bottom: 61px;
    }

    @media screen and (min-width: 900px) {
        // padding-top: 40px;
        // padding-bottom: 61px;
    }

    @include mq('desktop') {

        // padding-top: 40px;
        // padding-bottom: 61px;
    }

}

.header {
    display: flex;
    align-items: flex-start;

    justify-content: space-between;


    @media screen and (min-width: 900px) {
        // justify-content: flex-start;
    }

    @include mq('laptop') {
        justify-content: flex-start;
    }

    @include mq('desktop') {
        // justify-content: flex-start;
    }
}



.header__logo {
    display: block;
    position: relative;

    color: $secondary-text-color;


    @media screen and (min-width: 900px) {
        // margin-right: 185px;
    }

    @include mq('laptop') {
        margin-right: 185px;
    }

    @include mq('desktop') {
        // margin-right: 185px;
    }
}

// @keyframes logoAnimation {
//     0% {
//         transform-origin: left;
//         transform: scaleX(0)
//     }

//     49% {
//         transform: scaleX(100%);
//         transform-origin: left;
//     }

//     50% {
//         transform: scaleX(100%);
//         transform-origin: right;
//     }

//     100% {
//         transform-origin: right;
//         transform: scaleX(0);
//     }
// }

// .header__logo::before {
//     content: "";
//     position: absolute;
//     z-index: -1;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;

//     background-color: tomato;
//     transform-origin: left;
//     transform: scaleX(0)
// }

// .header__logo:hover::before {
//     animation-name: logoAnimation;
//     animation-duration: 5000ms;
//     animation-timing-function: $default-transition-function;
//     animation-iteration-count: 1;
//     animation-direction: alternate;
// }

.header__logo:hover {
    color: #72c8e2;
}



.header__logo>.icon {

    width: 213px;
    height: 60px;


    @media screen and (min-width: 900px) {
        // width: 405px;
        // height: 114px;
    }

    @include mq('laptop') {
        width: 405px;
        height: 114px;
    }
}

.header__menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding-left: 30px;

    @media screen and (min-width: 900px) {
        // width: 100%;
    }

    @include mq('laptop') {
        width: 100%;
    }


    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -45px;
        width: 1px;
        height: 550px;
        background-color: rgba(255, 255, 255, 0.2);

        @include mq('desktop') {
            top: -40px;
        }
    }
}