.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    // padding-left: 30px;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     top: -45px;
    //     width: 1px;
    //     height: 550px;
    //     background-color: rgba(255, 255, 255, 0.2);

    //     @include mq('desktop') {
    //         top: -40px;
    //     }
    // }

    @include mq('not-laptop') {
        overflow-y: auto;
        padding: 100px 50px 180px;
        flex-direction: column;
        row-gap: 20px;



        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 480px;
        height: 100%;
        transform: translateX(100%);
        @include default-transition(transform);

        background-color: $primary-background-color;
    }

    @include mq('mobile-only') {
        max-width: initial;
        width: 100%;
    }


    &.is-open {
        display: flex;
        transform: translateX(0);

        @include mq('mobile-only') {
            right: 50%;
            transform: translateX(50%);
        }

    }

}



.menu__nav,
.menu__select-lang {
    // display: none;
    display: flex;

    @media screen and (min-width: 900px) {
        // display: flex;
    }

    @include mq('laptop') {
        // display: flex;
    }
}

.menu__nav {}

.menu__list {}

.menu__select-lang {}

.menu__item {
    @include set-items-margin(bottom, 20px);

    @include mq('not-laptop') {
        @include set-items-margin(bottom, 40px);
    }

}

.menu__link {
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 1.18;
    color: $secondary-text-color;

    @include mq('not-laptop') {
        font-size: 20px;
    }

    &:hover::after {
        transform: scale(100%);
    }
}

.menu__link::after {
    content: "";
    position: absolute;

    bottom: -2px;
    left: 0;

    height: 3px;
    width: 70%;

    transform-origin: left;

    transform: scale(0);
    background-color: $accent-color;

    @include default-transition(transform)
}

.menu__close-btn {
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;

    @include mq('laptop') {
        display: none;
    }

}