// colors
$primary-background-color: #292D33;
$footer-background-color: #24272B;
$accent-color: #6EFFB7;
$primary-text-color: #E6E6E6;
$secondary-text-color: #FFFFFF;

// breakpoints
$mobile-viewport-width: 375px;
$tablet-viewport-width: 768px;
$laptop-viewport-width: 1440px;
$desktop-viewport-width: 1920px;



$default-transition-function: cubic-bezier(0.4, 0, 0.2, 1)