// colors
$primary-background-color: #292D33;
$footer-background-color: #24272B;
$accent-color: #6EFFB7;
$primary-text-color: #E6E6E6;
$secondary-text-color: #FFFFFF;



// $secondary-background-color: #FFFFFF;
// $accent-hovered-color: #AC6DFE;

// $primary-lightmode-text-color: #1B1B1B;

// breakpoints
$mobile-viewport-width: 375px;
$tablet-viewport-width: 768px;
$laptop-viewport-width: 1440px;
$desktop-viewport-width: 1920px;

//hero gradients
// $hero-top-gradient: linear-gradient(180deg, rgba(27, 27, 27, 0.5) 0%, rgba(27, 27, 27, 0) 18.09%);
// $hero-mobile-gradient: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
// $hero-desktop-gradient: linear-gradient(to right, rgba(27, 27, 27, 0.4), rgba(27, 27, 27, 0.4));


$default-transition-function: cubic-bezier(0.4, 0, 0.2, 1)