.section-hero {

    overflow: hidden;

    position: relative;
    padding-top: 15px;

    @include mq('desktop') {

        padding-top: 27px;
        padding-bottom: 0;

        height: 639px;

    }
}

.section-hero::before {
    position: absolute;
    z-index: -2;
    content: "";
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) rotate(30deg);

    width: 1300px;
    height: 618px;

    border-radius: 650px/309px;
    background-color: tomato;

    background: radial-gradient(50% 50% at 50% 50%, #FF224A 0%, rgba(255, 34, 167, 0.00) 100%);
    filter: blur(300px);

}

.hero {}

.hero__title {
    font-family: 'Anglecia-display';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;

    @include mq('desktop') {
        font-size: 72px;
        // width: 873px;
    }
}

.hero__meta {

    margin-top: 30px;

    @include mq('desktop') {
        display: flex;
        align-items: flex-start;
        margin-top: 40px;
    }

}

.hero__socials {}

.hero__text {
    margin-top: 30px;

    font-size: 17px;
    line-height: 1.7;
    letter-spacing: 0.07em;
    font-weight: 500;
    color: $secondary-text-color;


    @include mq('desktop') {
        margin-top: 0;
        margin-left: 165px;
        width: 565px;
        font-size: 24px;
        line-height: 1.5;
    }
}


.hero__slider-page {
    position: absolute;
    right: 60px;
    bottom: 226px;

    font-family: 'Anglecia-text';
    font-style: italic;
    font-size: 19px;
    line-height: 1.4;
    letter-spacing: 0.02em;

    @include mq('desktop') {

        right: 30px;
        bottom: 217px;


        font-size: 24px;


    }
}