.address {
    font-style: normal;
}

.address__item {
    display: flex;
    align-items: center;
    column-gap: 20px;

    @include set-items-margin(bottom, 20px);

    &>.icon {
        display: block;
        fill: $accent-color;
        flex-shrink: 0;
    }
}


.address__item-wrapper {

    @include mq('desktop') {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
}



.address__map-link {
    margin-top: 10px;

    color: rgba($color: #ffffff, $alpha: 0.5);
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.07em;



    @include mq ('tablet') {
        font-size: 14px;
        line-height: 1.14;
    }

    @include mq ('desktop') {
        margin-top: 0;
    }
}