.section-footer {
    background-color: $footer-background-color;
}



.footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);
}

.footer__top {
    margin-bottom: 60px;

    @include mq('desktop') {
        margin-bottom: 83px;
        display: flex;
        align-items: center;
    }
}

.footer__menu {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mq('desktop') {
        margin-left: 370px;
    }

}

.footer__logo {
    margin-bottom: 60px;



    @include mq('desktop') {
        margin-bottom: 0;

    }
}

.footer__logo>.icon {
    width: 215px;
    height: 60px;

    @include mq('desktop') {

        width: 250px;
        height: 70px;
    }
}




.footer__bottom {


    font-size: 14px;
    letter-spacing: 0.07em;
    line-height: 1.14;
    color: rgba($color: #ffffff, $alpha: 0.5);



    @include mq('desktop') {
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        column-gap: 90px;

        font-size: 16px;
        line-height: 1.7;
    }
}

.footer__copyright {
    margin-bottom: 10px;

    @include mq('desktop') {
        margin-bottom: 0;
    }

}