<section class="section section-about">
  <div class="container">
    <div class="about">
      <h2 class="section-title about__title">О проекте</h2>
      <div class="about__text">
        <p class="about__paragraph">
          <span lang="en">Institute Of Hair Restoration Surgery</span>,
          насчитывающее более 1000 членов в 70 странах по всему миру, нацелена
          на достижение превосходных результатов лечения пациентов путём
          продвижения высочайших стандартов медицинской практики, медицинской
          этики и исследований в области медицинского восстановления волос.
        </p>
        <p class="about__paragraph">
          Международное общество восстановительной хирургии IHRS —
          это глобальная некоммерческая медицинская ассоциация и ведущий
          авторитет в области лечения и восстановления волос.
        </p>
      </div>
      <span class="section-tag section-tag--right about__tag" lang="en">
        ( about project )
      </span>
    </div>
  </div>
</section>
