<section class="section">
  <div class="container">
    <div class="about">
      <h2 class="section-title about__title">О проекте</h2>
      <p class="about__text">
        <span lang="en">Institute Of Hair Restoration Surgery</span>,
        насчитывающее более 1000 членов в 70 странах по всему миру, нацелена
        на достижение превосходных результатов лечения пациентов путём
        продвижения высочайших стандартов медицинской практики, медицинской
        этики и исследований в области медицинского восстановления волос.
        Международное общество восстановительной хирургии IHRS — это глобальная
        некоммерческая медицинская ассоциация и ведущий авторитет в области
        лечения и восстановления волос.
      </p>
      <span class="section-tag section-tag--rotate about__tag" lang="en">
        ( about project )
      </span>
    </div>
  </div>
</section>
