<!-- <section class="section section-benefits">
  <div class="benefits">
    <div class="container">
      <div class="benefits__header">
        <span class="section-tag benefits__tag" lang="en"> ( benefits ) </span>
        <h2 class="section-title benefits__title">
          Преимущества обучения в <span lang="en"
            >Institute Of Hair Restoration Surgery</span
          >
        </h2>
      </div>
    </div>

    <div class="benefits__wrapper">
      <p class="benefits__row">
        <span class="rawline-huge" lang="en">
          benefits
          <span class="benefits__slash">/</span>
        </span>

        <span class="benefits__item-wrapper benefits__item-wrapper--1">
          <span class="benefits__item benefits__item--w430">
            У нас гибкая ценовая политика как для физлиц, так и для
            корпоративных клиентов.
          </span>
          <img
            class="benefits__image benefits__image--1"
            srcset="
              ./assets/images/benefits/benefits-1@1x.jpg 1x,
              ./assets/images/benefits/benefits-1@2x.jpg 2x
            "
            src="./assets/images/benefits/benefits-1@1x.jpg"
            alt="Волос"
          />
        </span>

        <span class="rawline-huge" lang="en">
          benefits
          <span class="benefits__slash">/</span>
        </span>
      </p>

      <p class="benefits__row">
        <span class="benefits__item benefits__item--w582">
          Мы предоставляем возможность обучения в различных форматах: очное — на
          площадке Центра или площадках партнеров, дистанционное — заочное,
          выездное корпоративное обучение.
        </span>

        <span class="anglecia-display-huge" lang="en">/ of study</span>
      </p>

      <p class="benefits__row">
        <span class="anglecia-display-huge" lang="en">benefits /</span>
        <span class="benefits__item benefits__item--w428">
          Наши преподаватели – действующие практики и эксперты, которые
          предлагают микс академического материала и авторских практических
          кейсов и практикумов. Дают практические инструменты решения задач,
          оказывают постдипломное сопровождение слушателей.
        </span>
        <img
          class="benefits__image"
          srcset="
            ./assets/images/benefits/benefits-2@1x.jpg 1x,
            ./assets/images/benefits/benefits-2@2x.jpg 2x
          "
          src="./assets/images/benefits/benefits-2@1x.jpg"
          alt="Кабинет"
        />
      </p>

      <p class="benefits__row">
        <span class="benefits__item">
          Мы имеем лицензию на ведение образовательной деятельности. По итогам
          курсов вы получаете дипломы и сертификаты установленного образца.
        </span>
        <img
          class="benefits__image"
          srcset="
            ./assets/images/benefits/benefits-3@1x.png 1x,
            ./assets/images/benefits/benefits-3@2x.png 2x
          "
          src="./assets/images/benefits/benefits-3@1x.png"
          alt="Яркий свет"
        />
        <span class="anglecia-title-huge" lang="en">benefits</span>
      </p>
    </div>
  </div>
</section> -->

<section class="section section-benefits">
  <div class="benefits">
    <div class="container">
      <div class="benefits__header">
        <span class="section-tag benefits__tag" lang="en"> ( benefits ) </span>
        <h2 class="section-title benefits__title">
          Преимущества обучения в <span lang="en"
            >Institute Of Hair Restoration Surgery</span
          >
        </h2>
      </div>
    </div>

    <div class="benefits__wrapper">
      <div class="benefits__row benefits__row--1">
        <div
          class="rawline-huge benefits__decor benefits__decor--left-1"
          lang="en"
        >
          benefits
          <span class="benefits__slash">/</span>
        </div>

        <div class="benefits__item benefits__item--1">
          <p class="benefits__text benefits__text--1">
            У нас гибкая ценовая политика как для физлиц, так и для
            корпоративных клиентов.
          </p>
          <img
            class="benefits__image benefits__image--1"
            srcset="
              ./assets/images/benefits/benefits-1@1x.jpg 1x,
              ./assets/images/benefits/benefits-1@2x.jpg 2x
            "
            src="./assets/images/benefits/benefits-1@1x.jpg"
            alt="Волос"
            width="95"
            height="120"
          />
        </div>

        <div
          class="rawline-huge benefits__decor benefits__decor--right-1"
          lang="en"
        >
          benefits
          <span class="benefits__slash">/</span>
        </div>
      </div>

      <div class="benefits__row benefits__row--2">
        <div
          class="anglecia-display-huge benefits__decor benefits__decor--left-2"
          lang="en"
        >
          / of studying
        </div>

        <div class="benefits__item benefits__item--2">
          <p class="benefits__text benefits__text--2">
            Мы предоставляем возможность обучения в различных форматах: очное —
            на площадке Центра или площадках партнеров, дистанционное — заочное,
            выездное корпоративное обучение.
          </p>
        </div>

        <div
          class="anglecia-display-huge benefits__decor benefits__decor--right-2"
          lang="en"
        >
          / of studying
        </div>
      </div>

      <div class="benefits__row benefits__row--3">
        <div
          class="anglecia-display-huge benefits__decor benefits__decor--left-3"
          lang="en"
        >
          Benefits /
        </div>

        <div class="benefits__item benefits__item--3">
          <p class="benefits__text benefits__text--3">
            Мы предоставляем возможность обучения в различных форматах: очное —
            на площадке Центра или площадках партнеров, дистанционное — заочное,
            выездное корпоративное обучение.
          </p>
          <img
            class="benefits__image benefits__image--3"
            srcset="
              ./assets/images/benefits/benefits-2@1x.jpg 1x,
              ./assets/images/benefits/benefits-2@2x.jpg 2x
            "
            src="./assets/images/benefits/benefits-2@1x.jpg"
            alt="Кабинет"
            width="95"
            height="88"
          />
        </div>

        <div
          class="anglecia-display-huge benefits__decor benefits__decor--right-3"
          lang="en"
        >
          Benefits /
        </div>
      </div>

      <div class="benefits__row benefits__row--4">
        <div
          class="anglecia-title-huge benefits__decor benefits__decor--left-4"
          lang="en"
        >
          Benefits /
        </div>

        <div class="benefits__item benefits__item--4">
          <p class="benefits__text benefits__text--4">
            Мы имеем лицензию на ведение образовательной деятельности. По итогам
            курсов вы получаете дипломы и сертификаты установленного образца.
          </p>
          <img
            class="benefits__image benefits__image--4"
            srcset="
              ./assets/images/benefits/benefits-3@1x.png 1x,
              ./assets/images/benefits/benefits-3@2x.png 2x
            "
            src="./assets/images/benefits/benefits-3@1x.png"
            alt="Яркий свет"
            width="315"
            height="126"
          />
        </div>

        <div
          class="anglecia-title-huge benefits__decor benefits__decor--right-4"
          lang="en"
        >
          Benefits /
        </div>
      </div>
    </div>
  </div>
</section>
