<section class="section">
  <div class="container">
    <div class="calendar">
      <div class="calendar__header">
        <h2 class="section-title calendar__title">Календарь событий</h2>
        <span class="section-tag calendar__tag" lang="en">
          ( calendar of events )
        </span>

        <table class="calendar__table table">
          <tbody>
            <tr class="row">
              <td class="cell">03 / 11 / 2021</td>
              <td class="cell">семинар</td>
              <td class="cell">
                Анатомия кожи. Волосяной фоликул, как самостоятельный орган.
              </td>
              <td class="cell">
                <button>
                  принять участие
                  <svg class="icon" width="16" height="16">
                    <use
                      href="./assets//images/icons.svg#icon-arrow-right"
                    ></use>
                  </svg>
                </button>
              </td>
            </tr>
            <tr class="row">
              <td class="cell">03 / 11 / 2021</td>
              <td class="cell">мастер-класс</td>
              <td class="cell">Андрогенетична алопеція</td>
              <td class="cell">
                <button>
                  принять участие
                  <svg class="icon" width="16" height="16">
                    <use
                      href="./assets//images/icons.svg#icon-arrow-right"
                    ></use>
                  </svg>
                </button>
              </td>
            </tr>
            <tr class="row">
              <td class="cell">03 / 11 / 2021</td>
              <td class="cell">онлайн</td>
              <td class="cell">Базовый курс хирургии восстановления волос</td>
              <td class="cell">
                <button>
                  принять участие
                  <svg class="icon" width="16" height="16">
                    <use
                      href="./assets//images/icons.svg#icon-arrow-right"
                    ></use>
                  </svg>
                </button>
              </td>
            </tr>
            <tr class="row">
              <td class="cell">03 / 11 / 2021</td>
              <td class="cell">в прямом эфире</td>
              <td class="cell">
                Региональный семинар:Семинар по проблеме выпадения волос
              </td>
              <td class="cell">
                <button>
                  принять участие
                  <svg class="icon" width="16" height="16">
                    <use
                      href="./assets//images/icons.svg#icon-arrow-right"
                    ></use>
                  </svg>
                </button>
              </td>
            </tr>
            <tr class="row">
              <td class="cell">03 / 11 / 2021</td>
              <td class="cell">семинар</td>
              <td class="cell">
                Анатомия кожи. Волосяной фоликул, как самостоятельный орган.
              </td>
              <td class="cell">
                <button>
                  принять участие
                  <svg class="icon" width="16" height="16">
                    <use
                      href="./assets//images/icons.svg#icon-arrow-right"
                    ></use>
                  </svg>
                </button>
              </td>
            </tr>
            <tr class="row">
              <td class="cell">03 / 11 / 2021</td>
              <td class="cell">мастер-класс</td>
              <td class="cell">
                Симптоматическая диффузная алопеция в телогеновой форме.
                Диффузное облысение и как с ним бороться
              </td>
              <td class="cell">
                <button>
                  принять участие
                  <svg class="icon" width="16" height="16">
                    <use
                      href="./assets//images/icons.svg#icon-arrow-right"
                    ></use>
                  </svg>
                </button>
              </td>
            </tr>
            <tr class="row">
              <td class="cell">03 / 11 / 2021</td>
              <td class="cell">онлайн</td>
              <td class="cell">
                Анатомия кожи. Волосяной фоликул, как самостоятельный орган.
              </td>
              <td class="cell">
                <button>
                  принять участие
                  <svg class="icon" width="16" height="16">
                    <use
                      href="./assets//images/icons.svg#icon-arrow-right"
                    ></use>
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
