<section class="section">
  <div class="container">
    <div class="calendar">
      <div class="calendar__header">
        <h2 class="section-title calendar__title">Календарь событий</h2>
        <span class="section-tag calendar__tag" lang="en">
          ( calendar of events )
        </span>
      </div>
      <!-- <table class="calendar__table table">
        <tbody>
          <tr class="row">
            <td class="cell">03 / 11 / 2021</td>
            <td class="cell">семинар</td>
            <td class="cell">
              Анатомия кожи. Волосяной фоликул, как самостоятельный орган.
            </td>
            <td class="cell">
              <button>
                принять участие
                <svg class="icon" width="16" height="16">
                  <use href="./assets//images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </td>
          </tr>
          <tr class="row">
            <td class="cell">03 / 11 / 2021</td>
            <td class="cell">мастер-класс</td>
            <td class="cell">Андрогенетична алопеція</td>
            <td class="cell">
              <button>
                принять участие
                <svg class="icon" width="16" height="16">
                  <use href="./assets//images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </td>
          </tr>
          <tr class="row">
            <td class="cell">03 / 11 / 2021</td>
            <td class="cell">онлайн</td>
            <td class="cell">Базовый курс хирургии восстановления волос</td>
            <td class="cell">
              <button>
                принять участие
                <svg class="icon" width="16" height="16">
                  <use href="./assets//images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </td>
          </tr>
          <tr class="row">
            <td class="cell">03 / 11 / 2021</td>
            <td class="cell">в прямом эфире</td>
            <td class="cell">
              Региональный семинар:Семинар по проблеме выпадения волос
            </td>
            <td class="cell">
              <button>
                принять участие
                <svg class="icon" width="16" height="16">
                  <use href="./assets//images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </td>
          </tr>
          <tr class="row">
            <td class="cell">03 / 11 / 2021</td>
            <td class="cell">семинар</td>
            <td class="cell">
              Анатомия кожи. Волосяной фоликул, как самостоятельный орган.
            </td>
            <td class="cell">
              <button>
                принять участие
                <svg class="icon" width="16" height="16">
                  <use href="./assets//images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </td>
          </tr>
          <tr class="row">
            <td class="cell">03 / 11 / 2021</td>
            <td class="cell">мастер-класс</td>
            <td class="cell">
              Симптоматическая диффузная алопеция в телогеновой форме. Диффузное
              облысение и как с ним бороться
            </td>
            <td class="cell">
              <button>
                принять участие
                <svg class="icon" width="16" height="16">
                  <use href="./assets//images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </td>
          </tr>
          <tr class="row">
            <td class="cell">03 / 11 / 2021</td>
            <td class="cell">онлайн</td>
            <td class="cell">
              Анатомия кожи. Волосяной фоликул, как самостоятельный орган.
            </td>
            <td class="cell">
              <button>
                принять участие
                <svg class="icon" width="16" height="16">
                  <use href="./assets//images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table> -->

      <div class="grid calendar__grid">
        <div class="grid__row">
          <div class="grid__cell">03 / 11 / 2021</div>
          <div class="grid__cell grid__cell--2">семинар</div>
          <div class="grid__cell grid__cell--3">
            Анатомия кожи. Волосяной фоликул, как самостоятельный орган.
          </div>
          <div class="grid__cell grid__cell--4">
            <button class="calendar__cta-btn">
              принять участие
              <svg class="icon" width="16" height="16">
                <use href="./assets//images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="grid__row">
          <div class="grid__cell">03 / 11 / 2021</div>
          <div class="grid__cell grid__cell--2">мастер-класс</div>
          <div class="grid__cell grid__cell--3">Андрогенетична алопеція</div>
          <div class="grid__cell grid__cell--4">
            <button class="calendar__cta-btn">
              принять участие
              <svg class="icon" width="16" height="16">
                <use href="./assets//images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="grid__row">
          <div class="grid__cell">03 / 11 / 2021</div>
          <div class="grid__cell grid__cell--2">онлайн</div>
          <div class="grid__cell grid__cell--3">
            Симптоматическая диффузная алопеция в телогеновой форме. Диффузное
            облысение и как с ним бороться
          </div>
          <div class="grid__cell grid__cell--4">
            <button class="calendar__cta-btn">
              принять участие
              <svg class="icon" width="16" height="16">
                <use href="./assets//images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="grid__row">
          <div class="grid__cell">03 / 11 / 2021</div>
          <div class="grid__cell grid__cell--2">в прямом эфире</div>
          <div class="grid__cell grid__cell--3">
            Региональный семинар: <br />Семинар по проблеме выпадения волос
          </div>
          <div class="grid__cell grid__cell--4">
            <button class="calendar__cta-btn">
              принять участие
              <svg class="icon" width="16" height="16">
                <use href="./assets//images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
