<section class="section">
  <div class="container">
    <div class="contacts">
      <div class="contacts__header">
        <h2 class="section-title contacts__title">Заполните заявку</h2>
        <span class="section-tag contacts__tag" lang="en"> ( contacts ) </span>
      </div>

      <div class="contacts__meta">
        <address class="contacts__address address">
          <p class="conacts__location">
            <svg class="icon" width="24" height="24">
              <use href="./assets/images/icons.svg#icon-location"></use>
            </svg>
            г. Днепр, ул. Сергея Ефремова, 21ж
            <a class="link address__map-link" href="">Показать на карте</a>
          </p>

          <a class="link contacts__email" href="mailto:info@hairmed.center">
            <svg class="icon" width="24" height="24">
              <use href="./assets/images/icons.svg#icon-mail"></use>
            </svg>
            info@hairmed.center
          </a>

          <a class="link contacts__tel" href="tel:+380968870337">
            <svg class="icon" width="24" height="24">
              <use href="./assets/images/icons.svg#icon-phone"></use>
            </svg>
            +380 96 887 0 337
          </a>
        </address>
        <form class="contacts__form"></form>
      </div>
    </div>
  </div>
</section>
