<section id="contacts" class="section section-contacts">
  <div class="container">
    <div class="contacts">
      <div class="contacts__header">
        <h2 class="section-title contacts__title">Заполните заявку</h2>
        <span class="section-tag section-tag--right contacts__tag" lang="en">
          ( contacts )
        </span>
      </div>

      <div class="contacts__meta">
        <address class="contacts__address address">
          <div class="conacts__location address__item">
            <svg class="icon" width="24" height="24">
              <use href="./assets/images/icons.svg#icon-location"></use>
            </svg>
            <div class="address__item-wrapper">
              <p>г. Днепр, ул. Сергея Ефремова, 21ж</p>
              <a class="link address__map-link" href="">Показать на карте</a>
            </div>
          </div>

          <a
            class="link contacts__email address__item"
            href="mailto:info@hairmed.center"
          >
            <svg class="icon" width="24" height="24">
              <use href="./assets/images/icons.svg#icon-mail"></use>
            </svg>
            info@hairmed.center
          </a>

          <a class="link contacts__tel address__item" href="tel:+380968870337">
            <svg class="icon" width="24" height="24">
              <use href="./assets/images/icons.svg#icon-phone"></use>
            </svg>
            +380 96 887 0 337
          </a>
        </address>

        <form class="contacts__form form">
          <div class="contacts__fields">
            <input
              class="form__field contacts__field"
              type="text"
              name="name"
              placeholder="Имя *"
            />
            <input
              class="form__field contacts__field"
              type="tel"
              name="tel"
              placeholder="Телефон *"
            />
            <input
              class="form__field contacts__field"
              type="email"
              name="email"
              placeholder="E-mail *"
            />
            <input
              class="form__field contacts__field"
              type="text"
              name="message"
              placeholder="Сообщение"
            />
          </div>
          <button class="button contacts__submit-btn" type="submit">
            отправить
            <svg class="icon" width="20" height="20">
              <use href="./assets/images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
