<div class="section-footer">
  <div class="container">
    <div class="footer">
      <div class="footer__top">
        <a class="link logo footer__logo" href="./index.html">
          <svg class="icon">
            <use href="./assets/images/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <div class="footer__menu">
          <nav class="footer-nav footer__nav">
            <ul class="footer-nav__list">
              <li class="footer-nav__item">
                <a href="#about" class="link footer-nav__link">О нас</a>
              </li>
              <li class="footer-nav__item">
                <a href="" class="link footer-nav__link">Участникам</a>
              </li>
              <li class="footer-nav__item">
                <a href="" class="link footer-nav__link">Новости</a>
              </li>
              <li class="footer-nav__item">
                <a href="#contacts" class="link footer-nav__link">Контакты</a>
              </li>
              <li class="footer-nav__item">
                <a href="" class="link footer-nav__link">Личный кабинет</a>
              </li>
            </ul>
          </nav>

          <div id="lang-btn-footer" class="select-lang">
            <button class="link select-lang__button js-lang-btn">
              <span class="js-lang-value">Рус</span>
              <svg class="icon" width="5" height="8">
                <use href="./assets/images/icons.svg#icon-chevron-right"></use>
              </svg>
            </button>
            <ul class="select-lang__list js-lang-list">
              <li class="select-lang__item">
                <a href="" class="link select-lang__link js-lang-link">Рус</a>
              </li>
              <li class="select-lang__item">
                <a href="" class="link select-lang__link js-lang-link">Укр</a>
              </li>
              <li class="select-lang__item">
                <a href="" class="link select-lang__link js-lang-link">Анг</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__copyright" lang="en">
          &copy; 2021 IHRS. All rights reserved.
        </p>
        <p class="footer__developed-by">Разработка: РА &lsquo;ADVERT&rsquo;</p>
      </div>
    </div>
  </div>
</div>
