<footer class="section-footer">
  <div class="container">
    <div class="footer">
      <div class="footer__top">
        <a class="link logo footer__logo">
          <svg class="icon">
            <use href="./assets/images/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <nav class="footer-nav footer__nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a href="" class="link footer-nav__link">О нас</a>
            </li>
            <li class="footer-nav__item">
              <a href="" class="link footer-nav__link">Участникам</a>
            </li>
            <li class="footer-nav__item">
              <a href="" class="link footer-nav__link">Новости</a>
            </li>
            <li class="footer-nav__item">
              <a href="" class="link footer-nav__link">Контакты</a>
            </li>
            <li class="footer-nav__item">
              <a href="" class="link footer-nav__link">Личный кабинет</a>
            </li>
          </ul>
        </nav>

        <div class="select">
          <button>
            Рус
            <svg class="icon" width="5" height="8">
              <use href="./assets/images/icons.svg#icon-chevron-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__copyright">&copy; 2021 IHRS. All rights reserved.</p>
        <p class="footer__developed-by">Разработка: РА &lsquo;ADVERT&rsquo;</p>
      </div>
    </div>
  </div>
</footer>
