<div class="section-header">
  <div class="container">
    <div class="header">
      <a class="link logo header__logo" href="./index.html">
        <svg class="icon">
          <use href="./assets/images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <div class="header__menu-wrapper">
        <div class="menu js-menu">
          <button
            class="link menu__close-btn js-close-menu"
            type="button"
            aria-label="Close mobile menu"
          >
            <svg class="icon" width="30" height="30">
              <use href="./assets/images/icons.svg#icon-close"></use>
            </svg>
          </button>
          <nav class="menu__nav">
            <ul id="js-header-nav-list" class="menu__list">
              <li class="menu__item">
                <a href="#about" class="link menu__link js-header-nav-link"
                  >О нас</a
                >
              </li>
              <li class="menu__item">
                <a href="" class="link menu__link js-header-nav-link"
                  >Участникам</a
                >
              </li>
              <li class="menu__item">
                <a href="" class="link menu__link js-header-nav-link"
                  >Новости</a
                >
              </li>
              <li class="menu__item">
                <a href="#contacts" class="link menu__link js-header-nav-link"
                  >Контакты</a
                >
              </li>
              <li class="menu__item">
                <a href="" class="link menu__link js-header-nav-link"
                  >Личный кабинет</a
                >
              </li>
            </ul>
          </nav>
          <div id="lang-btn-header" class="select-lang menu__select-lang">
            <button class="link select-lang__button js-lang-btn">
              <span class="js-lang-value">Рус</span>
              <svg class="icon" width="5" height="8">
                <use href="./assets/images/icons.svg#icon-chevron-right"></use>
              </svg>
            </button>
            <ul class="select-lang__list js-lang-list">
              <li class="select-lang__item">
                <a href="" class="link select-lang__link js-lang-link">Рус</a>
              </li>
              <li class="select-lang__item">
                <a href="" class="link select-lang__link js-lang-link">Укр</a>
              </li>
              <li class="select-lang__item">
                <a href="" class="link select-lang__link js-lang-link">Анг</a>
              </li>
            </ul>
          </div>
        </div>

        <button
          class="link burger-btn js-open-menu"
          aria-label="Open mobile menu"
        >
          <svg class="icon" width="30" height="30">
            <use href="./assets/images/icons.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
