<section class="section">
  <div class="container">
    <div class="hero">
      <h1 class="hero__title" lang="en">5th Ukraine Practical Workshop</h1>

      <ul class="socials hero__socials">
        <li class="socials__item">
          <a href="" class="socials__link" aria-label="Facebook">
            <svg class="icon">
              <use href="./assets/images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="" class="socials__link" aria-label="Youtube">
            <svg class="icon">
              <use href="./assets/images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="" class="socials__link" aria-label="Instagram">
            <svg class="icon">
              <use href="./assets/images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="" class="socials__link" aria-label="Telegram">
            <svg class="icon">
              <use href="./assets/images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="hero__text">
        Единственный в своём роде практический воркшоп по трансплантации волос
        в Украине
      </p>

      <button>
        принять участие
        <svg class="icon">
          <use href="./assets/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>

      <p class="hero__slider-page">2 — 4</p>
    </div>
  </div>
</section>
