<section class="section section-owner">
  <div class="container">
    <div class="owner">
      <span class="section-tag section-tag--left owner__tag" lang="en">
        ( from founder )
      </span>

      <div class="owner__meta">
        <h2 class="section-title owner__title">От основателя</h2>
        <blockquote class="owner__blackquote">
          <p class="owner__text">
            Я занимаюсь пересадкой волос более 11 лет и знаю с какими
            трудностями могут столкнуться молодые специалисты.
          </p>
          <p class="owner__text">
            Не выезжая за пределы Украины достаточно сложно узнать о передовых
            и современные технологии и методы в области трансплантации волос.
          </p>
          <p class="owner__text">
            Именно поэтому я решил объединить мировой опыт в одном месте — ИХВВ.
          </p>
        </blockquote>
        <p class="owner__post">Основатель Института</p>
        <p class="owner__name">Доктор Иван Баранов</p>
      </div>
    </div>
  </div>
</section>
