.section-about {

    padding-bottom: 120px;

    // @include mq('desktop') {}
}

.about {
    position: relative;


    @include mq('desktop') {
        display: flex;
        align-items: flex-start;
    }
}



.about__title {
    margin: 0 auto;
    max-width: 600px;

    @include mq('not-desktop') {
        margin-bottom: 40px;
    }
}

.about__text {
    margin: 0 auto;
    // width: 870px;
    font-size: 17px;
    line-height: 1.8;
    letter-spacing: 0.07em;

    @include mq('desktop') {
        font-size: 19px;
    }
}

.about__paragraph {
    max-width: 600px;
    margin: 0 auto;

    @include mq('desktop') {
        max-width: initial;
        width: 870px;
    }
}

.about__paragraph+.about__paragraph {
    margin-top: 20px;
}

.about__tag {
    @include mq('mobile-only') {
        right: 0;
    }
}